.rc_icon{
	border: 2px solid #D0D0D0;
	background-color:#FFFFFF;
	width:64px;
	height:64px;
	padding:5px;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	display: table-cell;
	vertical-align: middle;
}
.rc_icon:hover{
	border: 2px solid #D0D0D0;
	background-color:#C0C0C0;
	width:64px;
	height:64px;
	padding:5px;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	display: table-cell;
	vertical-align: middle;
}

.tpPanel{
	width:300px;
	border: 2px solid #D0D0D0;
	background-color:#FFFFFF;	
}

.tpFrame{
	overflow:hidden;
}

.tpPanelTitle{
	background-color:#C0C0C0;
	font:bold 13px Arial;	
	padding:4px;
}

.form_button {
	white-space:nowrap;
	padding:3px 5px 3px 5px;
	font:bold 13px Arial;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;
}

.tpPanelProps {
	
	text-align:right;
	font:bold 10px Arial;
	
}

.tpPanelChild {

	border: 1px solid #C0C0C0;
	padding:4px;
	margin:2px;
	
}

.active {
	background-color:#C0C0C0;
}
